.contact__wrapper {
  background: url(images/jellyfish_contact.jpg) top center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  .screen-reader-response, .wpcf7-validation-errors {
    color: red;
    font-weight: 700;
  }
  form {
    a {
      color: #fff;
      font-weight: 700;
      margin: 5px 0;
      display: inline-block;
    }
    input[type='checkbox'], .wpcf7-list-item-label {
      font-size: 12px;
      padding-left: 7.5px;
    }
    .wpcf7-submit {
      background: #E83978;
      color: #fff;
      padding: 15px 25px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 700;
      border: none;
      margin: 15px 0;
      transition: .5s;
      &:hover {
        background: #000;
      }
    }
  }
  .locations {
    &__name {
      h2 {
        padding: 20px 0;
        border-bottom: 1px solid #fff;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 15px;
      }
    }
    &__details {
      margin-bottom: 25px;
      p {
        font-weight: 700;
        font-size: 25px;
      }
      p:first-of-type {
        margin-top: 25px;
        margin-bottom: 50px;
      }
      p.number {
        margin: 0;
      }
    }
    &__map {
      overflow: hidden;
      &__name {
        position: relative;
        top: 0;
        padding: 20px;
        width: 50%;
        @include md {
          width: 35%;
        }
        font-weight: 500;
      }
      iframe {
        margin-top: -200px;
        display: block;
        // z-index: 0;
      }
    }

  }
}
