.container-fluid.products, .container-fluid.products__single {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.products {
  .filter {
    background: #BEC2C5;
    img {
      width: 15px;
      margin-left: 5px;
    }
    a {
      text-transform: uppercase;
      font-weight: 300;
      transition: .5s;
      color: #fff;
    }
    .dropdown-menu {
      a {
        text-transform: none;
        color: #000;
      }
    }
    &__wrapper {
      // display: inline-block;
      // @include md {
        float: left;
      // }
      background-color: #C73F6E;
      padding: 10px;
      background-color: rgba(0,0,0,.50);
    }
    &__wrapper:first-of-type {
      background-color: rgba(0,0,0,.75);
    }
    &__wrapper:last-of-type {
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 18px;
      height: 53px;
      background-color: transparent;
      a {
        font-weight: 700;
        transition: .5s;
      }
      a:hover {
        text-decoration: none;
        color: #000;
      }
    }
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col-md-4 {
    padding-left: 0;
    padding-right: 0;
  }
  &__post {
    text-align: left;
    background-color: #EFEFEF;
    // padding-bottom: 75px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    // position: relative;
    &__wrapper {
      // padding-bottom: 75px;
      position: relative;
      height: 100%;
      .terms {
        background: #000;
        color: #fff;
        font-weight: 700;
        width: 35px;
        height: 100%;
        float: right;
        text-transform: uppercase;
        // padding: 10px 15px 10px 25px;
        p {
          position: absolute;
          top: -10px;
          padding-bottom: 0 !important;
          padding-top: 7.5px;
          right: 35px;

          /* Rotate from top left corner (not default) */
          transform-origin: top right;
          transform: rotate(-90deg);
        }
      }
      .term-circle {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        float: right;
      }
      h2 {
        color: #565656;
        font-weight: 700;
        margin-top: 25px;
        // margin-bottom: 25px;
        padding-left: 25px;
        padding-right: 25px;
        img {
          height: 80px;
          display: block;
          margin-bottom: 25px;
        }
      }
      p {
        padding-left: 25px;
        padding-right: 25px;
      }
      a {
        color: #fff;
        padding: 10px;
        transition: .5s;
        border-radius: 5px;
        margin-left: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
        display: inline-block;
        &:hover {
          text-decoration: none;
          background: #000 !important;
          color: #fff;
        }
      }

      &_left {
        width: 80%;
        float: left;
        height: 100%;
      }
    }
  }
  .pagi {
    background: #CDD1D3;
    &_next {
      text-align: left;
      padding: 10px 35px;
      font-weight: 700;
    }
    &_prev {
      padding: 10px 35px;
      font-weight: 700;
      background: #435665;
      text-align: right;
    }
    a {
      color: #fff;
      transition: .5s;
      &:hover {
        color: #000;
      }
    }
  }
}

.single-products {
  background: #EEF0F1;
}

.products__single {
  /* no-gutters Class Rules */
  .no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .no-gutters > [class^="col-"],
  .no-gutters > [class*=" col-"] {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  &__title__wrapper {
    padding: 25px 15px 0 15px;
    color: #000;
    @include md {
      padding: 50px 75px 0 75px;
      }
    h2 {
      @include md {
        font-size: 32px;
      }
      @include lg {
        font-size: 43px;
      }
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      img {
        height: 120px;
        display: block;
        margin-bottom: 25px;
        @include md {
          margin-bottom: 50px;
        }
      }
    }
    h3 {
      background-color: #fff;
      color: #536874;
      padding:  10px;
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 0;
      span {
        display: block;
        opacity: .5;
      }
    }
    p {
      font-size: 25px;
    }
  }
  &__content__wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #1A2D33;
    @include md {
      padding: 50px 75px;
    }
    h1 {
      font-size: 20px;
    }
    h2 {
      font-size: 20px;
      margin: 0 0 5px 0;
    }
    p {
      font-size: 16px;
      margin-bottom: 25px;
    }
  }
  .thumbimg {
    background: #EDEDED;
    min-height: 300px;
    img {
      width: 100%;
    }
    img.play {
      height: 150px;
      position: absolute;
      top: 50%;
      width: calc(100% - 30px);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      transition: .5s;
    }
    span {
      position: absolute;
      bottom: 15px;
      text-align: center;
      width: 100%;
      font-weight: 700;
      color: #fff;
    }
    img.more {
      width: 20px;
      margin-left: 7.5px;
    }
  }
  .back {
    img {
      width: 15px;
      margin-right: 10px;
    }
    a {
      color: #fff;
      font-weight: 700;
      font-size: 14px;
    }
    padding: 15px 35px;
  }
  .next {
    padding: 15px 35px;
    text-align: right;
    img {
      width: 12px;
      margin-left: 10px;
    }
    a {
      color: #1A2D33;
      font-weight: 700;
      font-size: 14px;
      transition: .5s;
    }
    a:hover {
      text-decoration: none;
      color: #1ca4e3;
    }
  }
  .news_posts {
    color: #09203E;
    .post__wrapper {
      background: rgba(9, 32, 62, 0.7);
      &:hover {
        background: rgba(9, 32, 62, 0.25);
      }
    }
  }
  .casestudy_posts {
    color: #8A7540;
    .post__wrapper {
      background: rgba(157, 138, 90, 0.7);
      &:hover {
        background: rgba(9, 32, 62, 0.25);
      }
    }
  }
  .back {
    background: #09203E;
    color: #fff;
  }
}
